@page "/DishTypes/createOrUpdateDishType"
@page "/DishTypes/updateDishType"
@rendermode InteractiveServer

<PageTitle>CreateOrUpdateDishTypePage</PageTitle>

<h3>Nový typ jedla ... Zmena názvu</h3>




