<div class="top-row ps-2 navbar" style="height:4rem; background-color:#eef2ff">
    <div class="container-fluid">
        <p class="navbar-brand" style="color:#0284c7; font-size:1.25rem" href=""><b>Recepty</b></p>
    </div>
</div>

<div class="nav-scrollable bg-light text-dark" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item p-3">
            <h4>
                Druhy jedál
            </h4>
        </div>

        <div class=" nav-item px-3">
            <NavLink id="allRecipes" class="nav-link text-dark" href="/Recipes/recipeListing?Id=0">
                Všetky recepty
            </NavLink>
        </div>

        @foreach (var dishType in dishTypeList)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link text-dark" href=@($"/Recipes/recipeListing?Id={dishType.Id}&DishTypeName={dishType.Name}")>
                    @dishType.Name
                </NavLink>
            </div>
        }
        <br />
        <br />
        <br />

        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href=@($"/DishTypes/createOrUpdateDishType")>
                Nový druh jedla
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href=@($"/DishTypes/updateDishType")>
                Zmena názvu
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href=@($"/DishTypes/deleteDishType")>
                Odstránenie názvu    
            </NavLink>
        </div>
    </nav>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    var IdValue = urlParams.get("Id");
    if (IdValue == null){
        window.onload = function() {
            const button = document.getElementById("allRecipes");
            button.click();
        }
    }
</script>
